<!-- START TOPBAR -->
<div class='logo-area'>
</div>
<div class='quick-area'>
    <div class='pull-left slantit'>
        <ul class="info-menu left-links list-inline list-unstyled">
            <li class="sidebar-toggle-wrap">
                <a href data-toggle="sidebar" class="sidebar_toggle" ng-click="app.settings.menuFolded = !app.settings.menuFolded; menuChatToggle('menu',app.settings.menuFolded) ">
                    <i class="material-icons">menu</i>
                </a>
            </li>
        </ul>
    </div>
    <div class="pull-left pagetitle">
        <span class='line'></span>
        <h1>{{app.settings.pagetitle}}</h1>
        <div></div>
    </div>
    <div class="pull-left quickleft" style=''>
        <ul class="info-menu right-links list-inline list-unstyled">
            <li class="dropdown tab " uib-dropdown>
                <a href class="dropdown-toggle toggle" uib-dropdown-toggle>
                    <i class="material-icons">notifications</i>
                    <span class="badge badge-accent">3</span>
                </a>
                <ul class="dropdown-menu  notifications animated fadeIn">
                    <li class="total">
                        <span class="small">
                                You have <strong>3</strong> new notifications.
                                <a href="javascript:;" class="pull-right">Mark all as Read</a>
                            </span>
                    </li>
                    <li ng-controller="NotificationsDropDownCtrl" class="list">
                        <perfect-scrollbar wheel-propagation="true" suppress-scroll-x="true" min-scrollbar-length="20" class='ps-scrollbar'>
                            <ul class="dropdown-menu-list list-unstyled">
                                <li class="{{notification.read ? 'read' : 'unread'}} {{notification.status}}" ng-repeat="notification in notifications">
                                    <!-- available: success, warning, info, error -->
                                    <a href="javascript:;">
                                        <div class="notice-icon">
                                            <i class="material-icons">{{notification.statusicon}}</i>
                                        </div>
                                        <div>
                                            <span class="name">
                                                    <h4>{{notification.message}}</h4>
                                                    <span class="time small">{{notification.time}}</span>
                                            </span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </perfect-scrollbar>
                    </li>
                    <li class="external">
                        <a href="javascript:;">
                            <span>Read All Notifications</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div class='pull-right quickright'>
        <ul class="info-menu right-links list-inline list-unstyled">

            <li class="dropdown profile tab" uib-dropdown>
                <a href class="dropdown-toggle toggle" uib-dropdown-toggle>
                    <img src="data/profile/profile.png" alt="user-image" class="img-circle img-inline">
                </a>
                <ul class="dropdown-menu dropdown-menu-right profile animated fadeIn">
                    <li>
                        <a ui-sref="app.dashboard">
                            <i class="material-icons">settings</i> Settings
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.ui.profile">
                            <i class="material-icons">person</i> Profile
                        </a>
                    </li>
                    <li>
                        <a ui-sref="app.ui.faq">
                            <i class="material-icons">help</i> Help
                        </a>
                    </li>
                    <li class="last">
                        <a ui-sref="access.login">
                            <i class="material-icons">lock</i> Logout
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
<!-- END TOPBAR -->
